@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Force UserWay accessibility widget to bottom-right */
#userway_buttons_wrapper,
#userway-accessibility-widget,
.userway_buttons_wrapper {
  bottom: 20px !important;
  right: 0px !important;
  left: auto !important;
  top: auto !important;
  position: fixed !important;
  z-index: 9999 !important;
  margin-bottom: 0px !important;
}

@keyframes zoom-in-out {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.animate-zoom-loop {
  animation: zoom-in-out 2s infinite ease-in-out;
}